<div class="contenido">
    <h1>Alumnado</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Curso</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Edad</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active">
          <th scope="row">Biología</th>
          <td>Juan</td>
          <td>Alvez</td>
          <td>15</td>
        </tr>
        <tr>
          <th scope="row">Computación</th>
          <td>Susana</td>
          <td>Pita</td>
          <td>16</td>
        </tr>
        <tr class="table-active">
          <th scope="row">Música</th>
          <td>Andres</td>
          <td>Salgado</td>
          <td>14</td>
        </tr>
        <tr>
          <th scope="row">Filosofía</th>
          <td>Ana</td>
          <td>Rodriguez</td>
          <td>15</td>
        </tr>
        <tr class="table-active">
          <th scope="row">Biología</th>
          <td>Juan</td>
          <td>Alvez</td>
          <td>15</td>
        </tr>
        <tr>
          <th scope="row">Computación</th>
          <td>Susana</td>
          <td>Pita</td>
          <td>16</td>
        </tr>
        <tr class="table-active">
          <th scope="row">Música</th>
          <td>Andres</td>
          <td>Salgado</td>
          <td>14</td>
        </tr>
        <tr>
          <th scope="row">Filosofía</th>
          <td>Ana</td>
          <td>Rodriguez</td>
          <td>15</td>
        </tr>
        <tr class="table-active">
          <th scope="row">Biología</th>
          <td>Juan</td>
          <td>Alvez</td>
          <td>15</td>
        </tr>
        <tr>
          <th scope="row">Computación</th>
          <td>Susana</td>
          <td>Pita</td>
          <td>16</td>
        </tr>
        <tr class="table-active">
          <th scope="row">Música</th>
          <td>Andres</td>
          <td>Salgado</td>
          <td>14</td>
        </tr>
        <tr>
          <th scope="row">Filosofía</th>
          <td>Ana</td>
          <td>Rodriguez</td>
          <td>15</td>
        </tr>
      </tbody>
    </table>
  </div>